<!--<?=$data['test_content']?>-->
<div style="height: 100vh">
    <div class="flex-center flex-column centro">
        <h1 class="animated fadeIn mb-2">Bienveido a Manee</h1>

        <h5 class="animated fadeIn mb-1">El lugar donde puedes comprar</h5>
        <br>
        <script type="text/javascript" src="<?=WEBROOT.DS;?>js/js.js"></script>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.1&appId=329967497810689&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false"
             data-auto-logout-link="false" data-use-continue-as="true"></div>

        <div id="status">
        </div>


    </div>
</div>

<!--
FB.logout(function(response) {
// user is now logged out
});

-->



